{% extends "layout.html" %}
{% block title %}Adan Boutique - SummerWear{% endblock %}
{% block main %}
<div class="main">
    <div class="sectionHeading">
        <p>
            Summer Wear
        </p>
    </div>
    <div class="cardContainer">
        {% for product, images in products_with_images.items %}
        <div id='card-width' class="card">
            <a href="{% url 'product_detail' product.id %}" class="product-link">
                <div class="imgcontainer">
                    {% if images %}
                        <img src="{{ images.0.image.url }}" alt="{{ images.0.alt_text }}">
                    {% else %}
                        <img src="path/to/default/image.jpg" alt="No image available">
                    {% endif %}
                </div>
                <div class="card-content">
                    <p style = 'display: block'>{{ product.name }}</p>
                    <p>RS {{ product.price }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}